ul {
  list-style: none;
  margin: 0px;
  padding: 10px;
}

a {
  font-size: 40px;
  padding: 20px;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: bold;
  color: white;
}

a:hover {
  color: cadetblue;
  text-decoration: none;
}

li {
  display: inline;
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  padding: 30px;
}

body {
  background-color: black;
}

h1 {
  font-size: 25px;
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  padding: 30px;
  display: inline;
}
td {
  font-size: 25px;
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  padding: 30px;
}
